h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: blue overline;
    letter-spacing: 4px;
    font-size: 50px;
    font-family: verdana;

}

p {
    text-align: left;
    font-weight: bold;
    text-decoration: underline wavy;
    line-height: 2;
}

a {
    text-decoration: underline;
}